.employeeMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
    margin: 2%;
    border-radius: 5%;
    background-color: #f0f0f0;
}

#employeeOptions {
    width: 70%;
}

#displayBox {
    width: 30%;
}

#sessionContainer {
    max-height: 15%;
    width: 100%;
    overflow-y: auto;
    padding: 5%;
    line-height: 0%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    border-radius: 5%;
    background-color: #f0f0f0;
    padding: 20px;
    gap: 10px;
    
}

input {
    text-align: left;
}

.formRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    input{
        width: 50%;
    }

    label {
        width: 40%;
    }
}

.visible {
    outline: 3px solid red;
}

.optionsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    border-radius: 5%;
    background-color: #f0f0f0;

    overflow-y: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    text-align: center;
    background-color: aquamarine;
}

td {
    text-align: center;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

tr:hover {
    background-color: red;
}