.employeeMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
    margin: 2%;
    border-radius: 5%;
    background-color: #f0f0f0;
}

#employeeOptions {
    width: 70%;
}

#employeeInfo {
    width: 30%;
}


.visible {
    outline: 3px solid red;
}

.optionsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    border-radius: 5%;
    background-color: #f0f0f0;

    overflow-y: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}


th {
    text-align: center;
    background-color: aquamarine;
}

td {
    text-align: right;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}