body{
    margin: 0;
    padding: 0;
    background-color: rgb(66, 62, 71);
    display: grid;
    grid-template-rows: auto 1fr auto;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    height: 200vh;
    display: flex;
    margin-top: 80px;
    flex-direction: column;

    .button{
        all: unset;

        font-weight: 600;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        color: rgb(41, 63, 47);
        transition: .2s;

        border: 1px solid black;
    }
    .button:hover{
        background-color: rgb(113, 162, 126);
        cursor: pointer;
        transition: .2s;
    }

    .search{
        border-radius: 100px;
    }


    .infoBox{
        background-color: white;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        margin: 20px;
        margin-bottom: 0;
        padding: 20px;
        border-radius: 10px;
    }
    
}